# **Programacion funcional**

Vamos a aprender a usar las **funciones lambda, map, filter y reduce**.

Veremos los siguientes métodos:

    1) Funciones lambda.
    2) Metodos de la programacion funcional:      
      - map
      - filter
      - reduce*

### **Programacion funcional**

Los programas escritos en un **lenguaje funcional** están constituidos unicamente por definiciones de **funciones**, entendiendo estas no como subprogramas clasicos de un lenguaje imperativo, sino como funciones puramente matematicas.

<center>
<img src="https://user-images.githubusercontent.com/16768318/73006022-d523bd00-3e01-11ea-8c1a-8ce4f5529158.png" width="35%">
</center>

### **Funciones lambda**

Sirve para crear funciones anonimas. Ejemplo:

In [1]:
def doble(x):
  return x**2

In [2]:
doble(25)

625

In [3]:
dobleAnonima = lambda x : x**2

In [4]:
dobleAnonima(25)

625

In [5]:
(lambda x: x**2)(25)

625

### Ejercicio:
Escribe una función anónima que de la vuelta a un String, guardala en una variable que se llame reverse_f.


> Por ejemplo: Dado el string "Hola" debe devolver "aloH"

In [9]:
#Inserta Aquí tu código
reverse_f = lambda s: s[::-1]

In [10]:
reverse_f('hola')

'aloh'

### Ejercicio:
Escribe una función anónima que devuelva la multiplicación de dos números, guardala en una variable que se llame mult_f.

Por ejemplo: Dado los numeros 10 y 2 debe devolver 20

In [13]:
#Inserta Aquí tu código
mult_f = lambda x, y: x * y

In [14]:
numero1 = 10
numero2 = 2
resultado = mult_f(numero1, numero2)
print(resultado)

20

### **Map**

Aplica una condicion (definida por una funcion) sobretodos los elementos de una estructura de datos.
<img src="https://leblancfg.com/img/map_function.png" width="50%">

In [15]:
lista = [1,2,3,4,5,6,7,8]

In [16]:
# PROGRAMACIÓN IMPERATIVA
new_lista = []
for numero in lista:
  new_lista.append(numero * 2)
print(new_lista)

[2, 4, 6, 8, 10, 12, 14, 16]

In [17]:
def multiplicarx2(numero):
  return numero * 2

In [18]:
# PROGRAMACIÓN FUNCIONAL
list(map(multiplicarx2,lista))

[2, 4, 6, 8, 10, 12, 14, 16]

In [19]:
# PROGRAMACIÓN FUNCIONAL AVANZADA: LAMBDA
list(map(lambda numero : numero * 2 ,lista))

[2, 4, 6, 8, 10, 12, 14, 16]

#### **Ejemplo 1**

Convertir los valores de temperatura media de Celsius a Kelvin

In [20]:
temp_C = [28, 32, 15, 26, 24, 30]

In [21]:
# Programación imperativa
temp_K = []
for temp in temp_C:
  new_temp = temp + 273.15
  temp_K.append(new_temp)
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [22]:
# Programación funcional
def celsiusAKelvin(temperatura):
  return temperatura + 273.15

temp_K = list(map(celsiusAKelvin, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

In [23]:
# Programación funcional avanzada usando funciones anónimas
temp_K = list(map(lambda x : x+273.15, temp_C))
print(temp_K)

[301.15, 305.15, 288.15, 299.15, 297.15, 303.15]

#### **Ejercicio 2**
Convertir estos nombres a mayúsculas

In [24]:
mascotas_nombre_min = ['alfred', 'tabitha', 'william', 'arla']

Primero resuelve tu problema usando un bucle `for`


*   INPUT/ENTRADA: Tienes que convertir en mayúscula todos los elementos de la lista `mascotas_nombre_min`
*   OUTPUT/SALIDA: Los nombres en mayúsculas deberán estar en la lista `mascotas_nombre_may`
* PISTA: Puedes añadir elemenetos a una lista con `append()`

In [28]:
# Programación imperativa
#Inserta Aquí tu código
mascotas_nombre_min = ['coco', 'lola', 'max', 'luna']
mascotas_nombre_may = []
for nombre in mascotas_nombre_min:
    nombre_en_mayusculas = nombre.upper()
    mascotas_nombre_may.append(nombre_en_mayusculas)
print(mascotas_nombre_may)

['COCO', 'LOLA', 'MAX', 'LUNA']

Ahora haz lo mismo pero sin un bucle for, ahora usando map()

In [56]:
# Programación funcional
#Inserta Aquí tu código
mascotas_nombre_min = ['coco', 'lola', 'max', 'luna']
mascotas_nombre_may = list(map(str.upper, mascotas_nombre_min))
print(mascotas_nombre_may)

['COCO', 'LOLA', 'MAX', 'LUNA']

### **Filter**

Mientras que **map()** pasa cada elemento del iterable a traves de una funcion y devuelve el resultado de todos los elementos que han pasado a traves de la funcion, **filter()**, en primer lugar, requiere que **la funcion devuelva valores booleanos (verdadero o falso)** y luego pasa cada elemento del iterable a traves de la funcion, **"filtrando" los que son falsos**.

<img src="https://leblancfg.com/img/filter.png" width="50%">

In [29]:
numeros = [28, 32, 15, 26, 24, 30]

filter

filter

In [30]:
# Filter
numeros = [28, 32, 15, 26, 24, 30]

In [31]:
# Programación imperativa
num_may_30 = []
for num in numeros:
  if num >= 30:
    num_may_30.append(num)

print(num_may_30)

[32, 30]

In [32]:
# Programación funcional
def numMayoresA30(numero):
  if numero >= 30:
    return True
  else:
    return False


num_may_30 = list(filter(numMayoresA30, numeros))
print(num_may_30)

[32, 30]

In [33]:
# Programación funcional avanzada usando funciones anónimas
num_may_30 = list(filter(lambda temp:temp >= 30, numeros))
print(num_may_30)

[32, 30]

#### **Ejercicio 3**
Escribir una función que reciba una frase (string) y devuelva una lista con las longitudes de cada palabra.

In [34]:
frase = 'Welcome to Python'

In [70]:
#Inserta Aquí tu código
def lenghth_words(frase):
    palabras = frase.split()
    longitudes = [len(palabra) for palabra in palabras]
    return longitudes

In [74]:
frase = 'Welcome to Python'
resultados = lenghth_words(frase)
print(resultados)

[7, 2, 6]

Comprueba tu respuesta, debe dar: [7, 2, 6]

#### **Ejercicio 4**
Escribir una función que reciba una lista de números pares e impares y devuelve como resultado una lista solo con los números pares usando filter. Usa también la función dada check_even().

In [76]:
def check_even(num):
    return num % 2 != 0

In [77]:
nums = [0,1,2,3,4,5,6,7,8,9,10]

In [78]:
#Inserta Aquí tu código
list(filter( check_even , nums))

[1, 3, 5, 7, 9]

#### **Ejercicio 5**
Imprimir de uno en uno todos los elementos de la siguiente lista utilizando programación funcional con `map`.

In [64]:
datos = ["Hola",1,True,"José Luis",545645,"*"]

In [81]:
#Inserta Aquí tu código
for elemento in datos:
  print(elemento)

Hola
1
True
José Luis
545645
*

In [84]:
list(map(print , datos))

Hola
1
True
José Luis
545645
*

[None, None, None, None, None, None]